In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.cluster as cls

In [3]:
df = pd.read_csv("penerbangan1.csv")

In [4]:
df

          date  flight         from           to   price   duration
0   2019-01-20    G201      Jakarta         Bali     136         50
1   2019-01-20    G014        Medan      Jakarta      44        120
2   2019-01-20    B046      Jakarta   Yogyakarta     155         50
3   2019-01-20    G100      Jakarta     Surabaya      90         60
4   2019-01-20    G781      Jakarta   Yogyakarta     158         50
5   2019-01-20    L461      Bandung         Bali      98         90
6   2019-01-20    G012      Jakarta        Medan     233        120
7   2019-01-21    G202      Jakarta     Makassar     149        120
8   2019-01-21    B047   Yogyakarta      Jakarta     166         50
9   2019-01-21    G019      Jakarta     Surabaya     129         60
10  2019-01-21    G801      Jakarta     Surabaya     140         60
11  2019-01-21    G014     Surabaya      Jakarta     125         70
12  2019-01-21    G014        Medan      Jakarta     204        120
13  2019-01-21    B011     Surabaya      Jakarta     155         70
14  2019-01-22    G014      Jakarta   Yogyakarta     142         50
15  2019-01-22    L400      Jakarta        Medan     169        120
16  2019-01-22    G514         Bali      Jakarta     102        100
17  2019-01-22    G409     Makassar      Jakarta     129        130
18  2019-01-22    B155      Jakarta   Yogyakarta     136         50
19  2019-01-22    G510      Jakarta         Bali     255         90
20  2019-01-22    G774      Jakarta   Yogyakarta     109         50
21  2019-01-23    L402        Medan      Jakarta     169        130
22  2019-01-23    G511         Bali      Jakarta     124        130
23  2019-01-23    G429     Makassar      Jakarta     139        130
24  2019-01-23    B108      Jakarta   Yogyakarta     156         50
25  2019-01-23    G510      Jakarta         Bali     225        120
26  2019-01-23    G776      Jakarta   Yogyakarta     119         50
27  2019-01-23    G917     Surabaya      Jakarta     150         70