In [6]:
import pandas as pd
import sklearn.neural_network as nn 
import sklearn.model_selection as ms
import sklearn.preprocessing as pp

In [7]:
df = pd.read_csv("datatraining.csv")

In [8]:
df

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.250000,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.000000,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.500000,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.250000,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.500000,0.004757,1
...,...,...,...,...,...,...,...
8139,2015-02-10 09:29:00,21.05,36.0975,433.0,787.250000,0.005579,1
8140,2015-02-10 09:29:59,21.05,35.9950,433.0,789.500000,0.005563,1
8141,2015-02-10 09:30:59,21.10,36.0950,433.0,798.500000,0.005596,1
8142,2015-02-10 09:32:00,21.10,36.2600,433.0,820.333333,0.005621,1
8143,2015-02-10 09:33:00,21.10,36.2000,447.0,821.000000,0.005612,1

In [9]:
x = df[['Temperature', 'Humidity', 'Light', 'CO2', 'HumidityRatio']]
y = df["Occupancy"]

In [10]:
x.describe()

       Temperature     Humidity        Light          CO2  HumidityRatio
count  8143.000000  8143.000000  8143.000000  8143.000000    8143.000000
mean     20.619084    25.731507   119.519375   606.546243       0.003863
std       1.016916     5.531211   194.755805   314.320877       0.000852
min      19.000000    16.745000     0.000000   412.750000       0.002674
25%      19.700000    20.200000     0.000000   439.000000       0.003078
50%      20.390000    26.222500     0.000000   453.500000       0.003801
75%      21.390000    30.533333   256.375000   638.833333       0.004352
max      23.180000    39.117500  1546.333333  2028.500000       0.006476

In [11]:
x_train, x_test, y_train, y_test = ms.train_test_split(x, y, test_size=0.2)

In [12]:
x_train.count()

Temperature      6514
Humidity         6514
Light            6514
CO2              6514
HumidityRatio    6514
dtype: int64

In [ ]:
scl = pp.StandardScaler(copy=True, with_mean=True, with_std=True)
scl.fit(x_train)
x_train = scl.transform(x_train)
x_test = scl.transform(x_test)